<html>
    <head>
        <title>New Product Form</title>
    </head>  
    <body>
        <h1>Create new product</h1>
        <p>Title:</p>
        <input type="text" id="title"/><br/>
        <p>Content</p>
        <textarea id="content">Add content </textarea><br/><br/>
        <button id="submit">Submit</button>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script>
        var newProduct = {title:"", content:""};
            $('#submit').click(function(){
                console.log('submit clicked');
                newProduct.title= $('#title').val();
                newProduct.content = $('#content').val();
                $.ajax({
                    method: "POST",
                    url: "/api/products",
                    data: newProduct
                }).done(function(response){
                    console.log(response);
                }).fail(function(response){
                    console.log(response.responseText);
                });
            });
        </script>
    </body>
</html>