<html>
    <head>
        <title>New Product Form</title>
    </head>  
    <body>
        <h1>Create new product</h1>
        <p>Title:</p>
        <input type="text" id="title"/><br/>
        <p>Description:</p>
        <textarea id="description"></textarea><br/>
        <p>Price:</p>
        <input type="number" id="price"/><br/>
        <p>Quantity</p>
        <textarea id="quantity"></textarea><br/><br/>
        <button id="submit">Submit</button>
        <div id="error"></div>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script>
        var newProduct = {title:"", description:"", price:"", quantity:""};
            $('#submit').click(function(){
                console.log('submit clicked');
                newProduct.title= $('#title').val();
                newProduct.description= $('#description').val();
                newProduct.price= $('#price').val();
                newProduct.quantity = $('#quantity').val();
                $.ajax({
                    method: "POST",
                    url: "/api/products",
                    data: newProduct
                }).done(function(response){
                    console.log(response);
                    window.location.replace('/product/'+response._id);
                }).fail(function(response){
                    $('#error').text(JSON.parse(response.responseText).message);
                    console.log(response.responseText);
                });
            });
        </script>
    </body>
</html>