<html>
    <head>
        <title>Single product</title>
    </head>
    <body>
        <h1>Single product view</h1>
        <h3><%= request.product.title %></h3>
        <p><%= request.product.description %></p>
        <p>BDT<%= request.product.price %></p>
        <p>Quantity<%= request.product.quantity %></p>
    </body>
</html>