<html>
    <head>
        <title>Single product</title>
    </head>
    <body>
        <h1>Single product view</h1>
        <h3><%= request.products.title %></h3>
        <p><%= request.products.content %></p>
    </body>
</html>